<aside class="main-sidebar sidebar-dark-primary elevation-7">


    <div class="sidebar">


        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
            </div>
            <div class="info">
                <a href="#" class="d-block">utilisateur</a>
            </div>
        </div>


        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item has-treeview ">
                <a routerLink="/home" class="nav-link ">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard

                    </p>
                </a>
            </li>

            <!--
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index2.html" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>CodingBook</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                -->



            <li class="nav-item has-treeview ">
            <li class="nav-item">
                <a aria-current="page" routerLink="/listeutilisateur" class="nav-link ">

                    <i class="nav-icon fas fa-book"></i>
                    <p> utilisateur</p>
                </a>
            </li>

            <!-- <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/listeuser">
                                <i class="far fa-circle nav-icon"></i>
                                <p>liste user</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" routerLink="/ajoutuser">

                                <i class="far fa-circle nav-icon"></i>
                                <p>ajout user</p>


                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/reunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>supprimer user</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/reunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>modifier user</p>
                            </a>
                        </li>

                    </ul>-->
            <li class="nav-item has-treeview ">
                <a class="nav-link" aria-current="page" routerLink="/listereunion">
                    <i class="nav-icon fas fa-copy"></i>

                    <p>
                        Reunion


                    </p>
                </a>
            </li>
            <!--   <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/reunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dtail reunion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/recherchereunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rechercher réunion</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/ajoutreunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ajout reunion</p>
                            </a>
                        </li>




                      <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/Commentair">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Commentair</p>
                            </a>
                        </li>



                    </ul>-->

            <li class="nav-item has-treeview ">

                <a class="nav-link" aria-current="page" routerLink="/listedecision">
                    <i class="nav-icon fas fa-edit"></i>


                    <p>
                        Decision


                    </p>
                </a>
            </li>
            <!-- <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/reunion">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dtail Decision</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/recherchedecision">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rechercher Decision</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/ajoutdecision">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ajout Decision</p>
                            </a>
                        </li>

                    </ul>

                </li>
              <li class="nav-item ">
                    <a class="nav-link" aria-current="page" routerLink="/desicion">
                        <i class="nav-icon fas fa-edit"></i>

                        <p>
                            Decisions


                        </p>
                    </a>
                </li>
                </i>-->
            <li class="nav-item has-treeview ">

                <a class="nav-link" aria-current="page" routerLink="/listepv">
                    <i class="nav-icon fas fa-book"></i>


                    <p>
                        PV


                    </p>
                </a>

            <li class="nav-item">

                <a class="nav-link " aria-current="page" routerLink="/modifierprofil">

                    &nbsp;<i class="fa fa-user">&nbsp;&nbsp;</i>
                    <p>Profil</p>


                </a>
            </li>

            <!-- <ul class="nav nav-treeview">


                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/pv">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Detail PV</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/recherchepv">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rechercher PV</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/ajoutpv">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ajout PV</p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/pv">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Modifier PV</p>
                            </a>
                        </li> -->


            <!--   <li  class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Mailbox
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/mailbox/mailbox.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inbox</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/mailbox/compose.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compose</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/mailbox/read-mail.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Read</p>
                            </a>
                        </li>
                    </ul>
                </li>




            </ul>-->






            <app-entete></app-entete>


            <div class="content-wrapper">



                <router-outlet></router-outlet>
            </div>