<div class="col-md-6 col-lg-7 d-flex align-items-center">
    <div class="card-body p-4 p-lg-5 text-black">
        <div class="container">
            <h1>Rechercher une réunion</h1>
            <form>
                <div class="form-group">
                    <label for="nom">ID Reunion :</label>
                    <input type="text" class="form-control" id="nom" name="nom">
                </div>


                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
            <hr>
            <!-- Ajouter le code pour afficher les résultats de la recherche -->
        </div>
        <!-- Ajouter les fichiers JavaScript de Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-jA2Jpz2R8WkM0CvYfE0hLJ/SRSLZUzBZJ6Bn9d76ukU6axIVUJ3yq+Iddj5Y5Qr8"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-c0U6p/SUymJ+I6f3ak3b5j0LJN5Yr1YYB2ZrF9Jf9pdKmBysyDpTCy+oYdJmH1Yj"
            crossorigin="anonymous"></script>