<section class="vh-100" style="background-color: #4e4e4e;">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">

                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form class="form-outline mb-4">
                                <div class="was-validated">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">GR</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> Entrez votre adresse
                                        e-mail et nous vous enverrons un e-mail avec des
                                        instructions pour réinitialiser votre mot de passe.</h5>

                                    <div class="form-outline mb-4">
                                        <div class="form-group">
                                            <label for="uname">Adresse Email:</label>
                                            <input type="text" class="form-control" id="uname"
                                                placeholder="Entre l'adresse email" name="uname" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">S'il vous plaît remplir ce champ.</div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-dark btn-lg btn-block">Réinitialiser le mot de passe</a>
                                    <div class="d-flex justify-content-between mt-4">
                                        <a class="" href="#">Login</a>
                                        <a class="" href="#">Register</a>
                                    </div>


                                </div>





                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>




<!--
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <a href="#" class="btn btn-primary w-100">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="#">Login</a>
            <a class="" href="#">Register</a>
        </div>
    </div>

</div>-->